.site-layout-content {
  height: 96%;
  padding: 24px;
  background: #fff;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000000d9;
  font-weight: 900;
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: whitesmoke;
}
.button {
  float: right;
  width: 140px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 24px 16px 16px;
  font-size: 20px;
  color: #000000d9;
  font-weight: 900;
  cursor: pointer;
}

.a navLink {
  font-size: 17px;
}

.ant-layout-header .ant-menu {
  line-height: 64px;
}
.activ {
  color: blue !important;
  /* font-size: 20px !important; */
}
